@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html, body {
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: #eee;
    min-width: 900px;
}

header {
    padding: 15px 15px 15px 40px;
    background-color: #222;
    color: #eee;
    font-size: 28px;

    display: flex;
    justify-content: space-between;
}

#title {
    display: flex;
    align-items: center;
}

#contolpanel {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

#limitcontainer {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 5px 5px 5px 30px;
}

#execute_limiter_inp {
    margin: 10px;
}

.button {
    text-align: center;
    margin: 5px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 2px;
}

#run-inp {
    background-color: rgba(255, 0, 0, 0.3);
    min-width: 100px;
}

#run-inp:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

#step-inp {
    background-color: rgba(255, 255, 0, 0.3);
}

#step-inp:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

.button {
    background-color: rgba(0, 0, 255, 0.3);
}

.button:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

#content {
    padding: 20px 10px 10px 40px;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}

th {
    background-color: #ccc;
}

.invalid {
    border: 2px solid red !important;

}

#input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

#inputmatrix {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: inline-block;
}

#inputmatrix td {
    padding: 0px;
}

.inputmatrix_inp {
    border: 0px white solid;
    margin: 0px;
    width: 50px;
    height: 20px;
}

.tape {
    box-shadow: inset 0px 0px 100px 3px rgba(0, 0, 0, 0.2);
    color: #333;
    font-size: 40px;
    padding: 20px;
    border: 1px #aaa solid;
    border-radius: 3px;

}

#inputtape {
    flex-grow: 1;
    margin: 15px 50px 15px 50px;
}

#execution {
    padding: 20px 40px 10px 40px;
}

#log-container {
    padding: 5px 10px 20px 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#log li {
    font-family: Consolas, monospace;
}

#log .li-state {
    background-color: #ddd;
}

#log .li-tape {
    font-size: 17px;
}

#log .li-head {
    font-weight: bold;

}