@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html, body {
    font-family: "Open Sans", sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    background-color: #eee;
}

header {
    padding: 10px;
    padding-left: 40px;
    background-color: #222;
    color: #eee;
    font-size: 2em;
}

#content {
    padding: 20px 10px 10px 40px;
}

#inputmatrix {
    display: inline-block;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
}